@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.bg-custom-blue {
    background-color: #312e81; 
}

.text-custom-blue {
    color: #312e81;
}

.bg-app-gray {
    background-color: #f8fafc; 
}

button, input, a {
    transition: all 0.2s ease-in-out;
}