.forgot-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#2563eb,#1d4ed8);

padding:20px;

}

.forgot-card{

width:100%;

max-width:430px;

background:white;

padding:35px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.2);

animation:fade .5s ease;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.forgot-header{

text-align:center;

margin-bottom:30px;

}

.logo-circle{

width:80px;

height:80px;

margin:auto;

border-radius:50%;

background:#2563eb;

display:flex;

justify-content:center;

align-items:center;

font-size:35px;

color:white;

margin-bottom:15px;

}

.input-group{

margin-bottom:18px;

}

.input-group label{

display:block;

margin-bottom:8px;

font-weight:600;

}

.input-group input{

width:100%;

height:50px;

padding:0 15px;

border:1px solid #ccc;

border-radius:12px;

font-size:15px;

}

.input-group input:focus{

outline:none;

border-color:#2563eb;

box-shadow:0 0 5px rgba(37,99,235,.3);

}

.forgot-btn{

width:100%;

height:50px;

border:none;

background:#2563eb;

color:white;

font-size:16px;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.forgot-btn:hover{

background:#1d4ed8;

}

.back-login{

text-align:center;

margin-top:20px;

}

.back-login a{

text-decoration:none;

color:#2563eb;

font-weight:600;

}

@media(max-width:480px){

.forgot-card{

padding:25px;

}

}